.sidebar {
	width: 300px;
	min-width: 300px;
	background-color: var(--primary-color);
	min-height: 100vh;
	position: relative;
	color: var(--white);
}

.sidebar-content {
	position: fixed;
	width: inherit;
}

.sidebar .user {
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	padding: 40px 30px;
	border-bottom: 1px solid var(--white);
}

.sidebar .links {
	margin-top: 80px;
	margin-left: 20px;
}

.sidebar .links li {
	margin-top: 10px;
}

.sidebar .links a {
	display: flex;
	padding: 10px;
	text-decoration: none;
	width: 100%;
	color: var(--white);
}

.sidebar .links img {
	margin-right: 10px;
	width: 1.5rem;
	filter: invert(100%);
}

.sidebar .links a.active {
	color: var(--highlight-color);
	background-color: var(--bg-color);
	border-radius: 20px 0 0 20px;
}

.sidebar .links .active img {
	filter: invert(50%);
}
